extends layout

block content
  div.container.login
    .well.col-sm-7.col-sm-offset-3
      div.form-horizontal
        .form-group
          legend Welcome to Kaizen
        .form-group
          label.col-sm-4.control-label(for="username") Username
          input.col-sm-6(type="text")
        .form-group
          label.col-sm-4.control-label(for="username") Password
          input.col-sm-6#oli(type="password")
        .form-group
          .col-sm-4.col-sm-offset-4
            button.btn.login(type='submit' onclick='Validate()') Submit