extends layout

block content
  .container
    .subhead New Simulation
    .well.col-sm-12
      .diagram
        .controls.col-sm-3
          .row
            legend Columns
            span.control.add(ng:click="control_action('add','column')")
              i.fa.fa-plus
              span Add
            span.control.remove(ng:click="control_action('remove','column')")
              i.fa.fa-minus
              span Remove
          .row
            legend Stations
            span.control.add(ng:click="control_action('add','station')")
              i.fa.fa-plus
              span Add
            span.control.remove(ng:click="control_action('remove','station')")
              i.fa.fa-minus
              span Remove
        .layout.col-sm-9
          .stations.col-sm-3(ng:repeat="station in stations", data-id="{{station.id}}")
            span.station-name {{ station.name }}
            .units
              .workstation(ng:repeat="unit in station.units")
                i.fa.fa-gears(ng:click="save()")

