@import "general.less";
// login
button.login {
  width: 100%;
}
span.user {
  display: inline-block;
  padding: 11px;
}
// home
.actions {
  padding-top: @vr/4;
}
ul.list {
  list-style: none;
  & li {
    margin: @vr/6 0;
    cursor: pointer;
  }
}
.status {
  &.Done {
    color: @done;
  }
  &.Pending {
    color: @warning;
  }
  &.Canceled {
    color: @error;
  }
  &.Active {
    color: @active;
  }
}
.navbar-brand {
  padding: 0 15px;
}

