extends layout

block content
  .container
    h1.title Simulation List
    .well.col-sm-10.col-sm-offset-1
      .table-responsive
        table.dataTable.table.table-hover
          thead
            th ID Order
            th Station
            th Send to 
            th Start time
            th End time
          tbody
            tr
               td 52b7
               td Start Station 1
               td Workstation1
               td 9:01:34
               td 9:13:51
            tr
               td od29
               td Start Station 2
               td Warehouse
               td 10:14:15
               td 10:15:28
            tr
               td 056w
               td Workstation 1
               td Warehouse
               td 9:24:19
               td 9:39:15
            tr
               td 20p4
               td Warehouse
               td Supplier
               td 10:01:08
               td 10:05:48 
            tr
               td 20p4
               td Star Station 1
               td Quality1
               td 9:45:09
               td 9:51:15
            tr
               td 056w
               td Quality1
               td Customer
               td 9:18:26
               td 9:23:56
            tr
               td 52b7
               td Warehouse
               td Workstation1
               td 9:17:13
               td 9:30:17
            tr
               td 52b7
               td Workstation 3
               td StartStation 3
               td 9:24:45
               td 9:49:36                                                           