doctype html
html(lang="en", ng-app="station")
  head
    title Kaizen Stations
    meta(name="viewport", content="width=device-width, initial-scale=1")
    // CDN CSS
    link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", rel="stylesheet")
    link(href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.0.0/css/bootstrap-datetimepicker.min.css", rel="stylesheet")
    link(href="//cdn.datatables.net/1.10.2/css/jquery.dataTables.css", rel="stylesheet")
    // Site CSS
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/stations.css')
  body(ng-controller="Stations")
    header
      nav(role="navigation").navbar.navbar-default
        .navbar-header
          button(type="button", data-toggle="collapse", data-target=".navbar-ex1-collapse").navbar-toggle
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          .navbar-brand=Kaizen
    .content
      block content

      #startupModal.modal.fade(data-backdrop="static")
        .modal-dialog
          .modal-content
            .modal-header
              h4.modal-title Welcome to your Station
            .modal-body
              p Waiting for Simulation to start.
      #errorModal.modal.fade(data-backdrop="static")
        .modal-dialog
          .modal-content
            .modal-header
              h4.modal-title Station Malfunction
            .modal-body
              p Waiting for repairs.
    footer
      .row
        .logos.col-sm-4
          img(src="/img/tec-logo.png")
          img(src="/img/iis-small.png")
        span.col-sm-4 Kaizen |
          script(type="text/javascript").
            document.write(' ' + new Date().getFullYear())

    // CDN JS
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.0.0/js/bootstrap-datetimepicker.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.7.5/less.min.js")
    script(src="/socket.io/socket.io.js")
    // AngularJS
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js")
    // AngularJS dependencies
    script(src="/js/uuid.js")
    // Site Script
    script(src="/js/script.js")
    script(src="/js/stations.js")
    script(src="/js/jquery.dataTables.js")
    script(src="/js/TableTools.js")
    script(src="/js/ZeroClipboard.js")
    // Angular App
    script(src="/js/station_ctrl.js")
