extends layout

block content
  .container
    .well.col-sm-10.col-sm-offset-1
      .table-responsive
        table.dataTable.table.table-hover
          thead
            th Name
            th Date
            th Status
            th Action
          tbody
            tr
              td Optimization example
              td 12-03-2014
              td Completed
              td Diagram|Data
            tr
              td Partial exam
              td 20-02-2014
              td Completed
              td Diagram|Data
            tr
              td April's Challange
              td 05-04-2014
              td Pending
              td Diagram|Data