extends layout

block content
  .container
    .well.col-sm-10.col-sm-offset-1
      .table-responsive
        table.dataTable.table.table-hover
          tr
            td ITEM
            td PASS
          tr
            td 52b7
            td 
              input(type='checkbox' name='agreement')
          tr 
            td od29
            td 
              input(type='checkbox' name='agreement')
          tr 
            td 056w
            td 
              input(type='checkbox' name='agreement')
          tr
            td 20p4 
            td 
              input(type='checkbox' name='agreement')
        <!--.col-sm-1.col-sm-offset-10      
        button(class="btn btn-success", data-action="bea").
          Submit-->

