extends layout

block content
  .container
    h1 {{station_data.name}}
    .row
      ul.tickets
        li.note(ng-repeat="order in item_list", data-id="{{ order.item }}").
          {{ order.item }}
    .row
      .controls
        .form
          .form-group#start
            label Item ID
            input(type="text", ng-model="new_item.item", ng-value="new_item.item")
            button.btn.btn-info Start
          .form-group.send-to
            label Send To
            select(ng-model="new_item.target", ng-options="unit.name for unit in station_data.all_stations")
            button.btn.btn-animated.active(type="button", ng-click="send_order('start')")
              i.fa.fa-check
              span Send
          .form-group#end
            button.btn.btn-info(type="button", ng-click="send_order('end')") End
