extends layout

block content
  .container
    .well.col-sm-10.col-sm-offset-1
      .table-responsive
        table.dataTable.table.table-hover
          thead
            th Item ID
            th T1
            th T2
            th T3
            th Total
          tbody
            tr
              td 5467
              td 1:30
              td 0:30
              td 0:45
              td 3:26
            tr
              td 5468
              td 1:30
              td 0:30
              td 0:45
              td 3:26
            tr
              td 5469
              td 1:30
              td 0:30
              td 0:45
              td 3:26