extends layout

block content
  input#simulation(type="hidden", data_id="#{id}")
  .container
    .subhead {{ simulation.name }}
    hr
    .row
      .simulation-data.col-sm-5.col-sm-offset-1
        .row
          label Name:
          .input-field {{ simulation.name }}
          .flip
            .input-group
              input.form-control(ng:value="'{{ simulation.name }}'", ng:model="simulation.name")
              span.input-group-btn
                button.btn(type="button")
                  i.fa.fa-check
        .row
          label Status:
          .input-field {{ simulation.status.name }}
          .flip
            .input-group
              select(ng:model="simulation.status", ng:options="status.name for status in simulation_status")
              span.input-group-btn
                button.btn(type="button")
                  i.fa.fa-check
        .row
          label Date:
          .input-field {{ simulation.date }}
          .flip
            .input-group
              input.datepicker.form-control(ng:value="'{{ simulation.date }}'", ng:model="simulation.date")
              span.input-group-btn
                button.btn(type="button")
                  i.fa.fa-check
        .row
          label Takt time:
          .input-field {{ simulation.takt_time }}
          .flip
            .input-group
              input.form-control.timepicker(ng:value="'{{ simulation.takt_time }}'", ng:model="simulation.takt_time")
              span.input-group-btn
                button.btn(type="button")
                  i.fa.fa-check
    .flags.right
      button.btn.btn-success#start
        i.fa.fa-play 
        span Start Simulation
      button.btn.btn-warning#end
        i.fa.fa-stop
        span End Simulation

    .well.col-sm-12
      .diagram
        .layout.col-sm-9.col-sm-offset-1
          .stations.col-sm-2(ng:repeat="station in simulation.stations", data-id="{{station.id}}")
            span.station-name.input-field {{ station.type.name }}
            .units
              .workstation(ng:repeat="unit in station.units")
                span(data-toggle='modal', data-target='.modal-{{unit.id}}')
                  i.fa.fa-gears
                .modal.fade(class="modal-{{ unit.id }}",tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
                  .modal-dialog
                    .modal-content
                      .modal-header
                        button.close(type='button', data-dismiss='modal')
                          span(aria-hidden='true') ×
                          span.sr-only Close
                        h4#myModalLabel.modal-title Open station {{ unit.name }}
                      .modal-body
                        .row Open Station as a {{ station.type.name }}
                      .modal-footer
                        button.btn.btn-warning(type='button', data-dismiss='modal') Cancel
                        a.btn.btn-primary(href="/station/{{ station.type.station_uri }}?simulation=#{id}", type='button') Open
block extended-scripts
  script(src="/js/workstation_load.js")
