extends layout

block content
  input#simulation(type="hidden", data_id="#{id}")
  .container
    .alert.alert-success.alert-dismissible.fade-in(role="alert")
      button.close(type='button', data-dismiss='alert')
        span(aria-hidden='true') ×
        span.sr-only Close
      strong Simulation Saved!
      a(href="/") Go back home
    .subhead {{ simulation.name }}
    hr
    .row
      .simulation-data.col-sm-5.col-sm-offset-1
        .row
          label Name:
          .input-field {{ simulation.name }}
          .flip
            .input-group
              input.form-control(ng:value="'{{ simulation.name }}'", ng:model="simulation.name")
              span.input-group-btn
                button.btn(type="button")
                  i.fa.fa-check
        .row
          label Date:
          .input-field {{ simulation.date }}
          .flip
            .input-group
              input.datepicker.form-control(ng:value="'{{ simulation.date }}'", ng:model="simulation.date")
              span.input-group-btn
                button.btn(type="button")
                  i.fa.fa-check
        .row
          label Takt time:
          .input-field {{ simulation.takt_time }}
          .flip
            .input-group
              input.form-control.timepicker(ng:value="'{{ simulation.takt_time }}'", ng:model="simulation.takt_time")
              span.input-group-btn
                button.btn(type="button")
                  i.fa.fa-check

    .well.col-sm-12
      .diagram
        .layout.col-sm-9.col-sm-offset-1
          .stations.col-sm-2(ng:repeat="station in simulation.stations", data-id="{{station.id}}")
            span.station-name.input-field {{ station.type.name }}
            .flip
              select(ng:model="station.type", ng:options="type.name for type in station_type")
            .units
              .workstation(ng:repeat="unit in station.units")
                span(data-toggle='modal', data-target='.modal-{{unit.id}}')
                  i.fa.fa-gears
                .modal.fade(class="modal-{{unit.id}}",tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
                  .modal-dialog
                    .modal-content
                      .modal-header
                        button.close(type='button', data-dismiss='modal')
                          span(aria-hidden='true') ×
                          span.sr-only Close
                        h4#myModalLabel.modal-title Data for {{ unit.name }}
                      .modal-body
                        .row
                          label Name:
                          .input-field {{ unit.name }}
                          .flip
                            .input-group
                              input.form-control(ng:value="'{{ unit.name }}'", ng:model="unit.name")
                              span.input-group-btn
                                button.btn(type="button")
                                  i.fa.fa-check
                        .row
                          label Error Interval:
                          .input-field {{ unit.err_interval }}
                          .flip
                            .input-group
                              input.form-control.timepicker(ng:value="'{{ unit.err_interval }}'", ng:model="unit.err_interval")
                              span.input-group-btn
                                button.btn(type="button")
                                  i.fa.fa-check
                        .row
                          label Error Duration:
                          .input-field {{ unit.err_duration }}
                          .flip
                            .input-group
                              input.form-control.timepicker(ng:value="'{{ unit.err_duration }}'", ng:model="unit.err_duration")
                              span.input-group-btn
                                button.btn(type="button")
                                  i.fa.fa-check
                      .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal') Done

block extended-scripts
  script(src="/js/workstation_load.js")
