extends layout



block content

  .container
    h1.title Simulation List
    .well.col-sm-10.col-sm-offset-1
      .table-responsive
        table.dataTable.table.table-hover
          thead
            th Name
            th Date
            th Status
            th Action
          tbody
            for item in simulations
              tr
                td #{ item.name }
                td #{ item.date }
                td Completed
                td Diagram|Data
